body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

.landscape {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

#fps {
	position: absolute;
	top: 2px;
	left: 2px;
	font-family: monospace;
	font-size: 12px;
	color: #66FFFF;
	width: 100%;
	height: 20px;
}

.bout {
	position: absolute;
	bottom: 0;
	right: 2px;
	font-family: monospace;
	font-size: 13px;
	color: #333;
	height: 20px;
}

.bout a {
	color: #333;
	text-decoration: none;
}

.bout a:hover {
	color: #666;
}

.map,
.map img,
.map canvas {
	position: absolute;
	top: 0;
	right: 0;
	width: 128px;
	height: 128px;
}

.height {
	position: absolute;
	top: 0;
	right: 128px;
	width: 128px;
	height: 128px;
}

.height img,
.height canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 128px;
	height: 128px;
}

.position {
	position: absolute;
	border: 1px solid red;
	top: 63px;
	left: 63px;
	width: 1px;
	height: 1px;
	z-index: 20;
}